﻿@model IzaUgla.Models.Korisnik

@{
    ViewData["Title"] = "Obriši korisnika";
    Layout = "_Layout";
}

<h1>Obriši korisnika</h1>

<h3>Da li ste sigurni da želite da izbrišete korisnika?</h3>
<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.ImageUrl)" class="img-thumbnail" alt="Image" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImeIPrezime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImeIPrezime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatumRodjenja)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumRodjenja)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Vrati se nazad</a>
    </form>
</div>