﻿@model IzaUgla.Models.Korisnik

@{
    ViewData["Title"] = "Detalji o korisniku";
    Layout = "_Layout";
}

<h1>Detalji o korisniku</h1>

<div>
    <h4>Korisnik</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.ImageUrl)" class="img-thumbnail" alt="Image" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImeIPrezime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImeIPrezime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatumRodjenja)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumRodjenja)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Vrati se nazad</a>
</div>