﻿@model IEnumerable<IzaUgla.Models.Korisnik>

@{
    ViewData["Title"] = "Dodaj korisnika";
    Layout = "_Layout";
}

<h2>Prikaz korisnika</h2>

<p>
    <a asp-action="Create">Dodaj Korisnika</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImeIPrezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumRodjenja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.ImageUrl != null)
                    {
                        <img src="@Url.Content(item.ImageUrl)" class="img-thumbnail" alt="Image" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImeIPrezime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatumRodjenja)
                </td>
                <td>
                    @Html.ActionLink("Izmeni", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalji", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Izbriši", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
