﻿@model IzaUgla.Models.Dogadjaj

@{
    ViewData["Title"] = "Obriši dogadjaj";
    Layout = "_Layout";
}



<h3>Da li ste sigurni da želite da izbrišete dogadjaj?</h3>
<div>
    <h4>Dogadjaj</h4>
    <hr />
    <dl class="row">
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VremeDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VremeDatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ulica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ulica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Broj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Broj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opstina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opstina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.ImageUrl)" class="img-thumbnail" alt="Image" />
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Vrati se nazad</a>
    </form>
</div>
