﻿@model IzaUgla.Models.DogadjajKomentarKorisnik

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji o dogadjaju</h1>

<div>
    <h4>Dogadjaj</h4>
    <hr />
    <dl class="row">
     
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dogadjaj.Naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dogadjaj.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dogadjaj.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dogadjaj.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dogadjaj.VremeDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dogadjaj.VremeDatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dogadjaj.Ulica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dogadjaj.Ulica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dogadjaj.Broj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dogadjaj.Broj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dogadjaj.Opstina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dogadjaj.Opstina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dogadjaj.Grad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dogadjaj.Grad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dogadjaj.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.dogadjaj.ImageUrl)" class="img-thumbnail" alt="Image" />
        </dd>
    </dl>
</div>
    @Html.ActionLink("Dodaj komentar","CreateComment","Komentar", new { _id = Model.dogadjaj.Id })
<div>
    @foreach(KomentarKorisnik kk in Model.komentarKorisnik)
    {
        <div>
            <p>
                @kk.korisnik.Username
            </p>
            <p>
                @kk.komentar.KomentarData
            </p>
            @Html.ActionLink("Obriši komentar", "DeleteComment", "Komentar", new { id = kk.komentar.Id })
        </div>
    }
</div>
<div>
    @Html.ActionLink("Izmeni", "Edit", new {  id = Model.dogadjaj.Id }) |
    <a asp-action="Index">Vrati se nazad</a>
</div>
