@model IzaUgla.Models.Komentar

@{
    ViewData["Title"] = "CreateComment";
    Layout = "_Layout";
}

<h3>Kreiraj Komentar</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Id_dogadjaja" class="control-label"></label>
                <input asp-for="Id_dogadjaja" class="form-control" value="@Model.Id_dogadjaja"/>
                <span asp-validation-for="Id_dogadjaja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KomentarData" class="control-label"></label>
                <input asp-for="KomentarData" class="form-control" />
                <span asp-validation-for="KomentarData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="CreateComment" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Odustani", "Details", "Dogadjaj", new { id = Model.Id_dogadjaja })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
