@model IzaUgla.Models.Komentar

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<h1>Obrisi komentar</h1>

<h3>Da li ste sigurni da zelite da obrisete ovaj komentar?</h3>
<div>
    <h4>Komentar</h4>
    <hr />
    <dl class="row">
     
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KomentarData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KomentarData)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatumVreme)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumVreme)
        </dd>
    </dl>

    <div>
        @Html.ActionLink("Obrisi", "DeleteConfirmed", "Komentar", new { id = Model.Id }) |
        @Html.ActionLink("Vrati se nazad", "Details", "Dogadjaj", new { id = Model.Id_dogadjaja }) 

    </div>
</div>
